* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans 3", sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #665D5E;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    text-align: center;
}

header .h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .h1 img {
    width: 6em;
    height: 6em;
    margin-right: 1rem;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

header nav ul li {
    margin: 0.5rem 1rem;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
}

header nav ul li a:hover {
    background-color: #343232;
    border-radius: 0.25em;
    padding: 0.99rem;
}

#label i{
    color: #FFFFFF;
    font-size: 1.5em;
}

.header #label{
    cursor: pointer;
    display: none;
}

#menu {
    display: none;
}

main {
    padding: 2.5rem;
    flex: 1;
}

.intro{
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/neumaticos.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    line-height: 80px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 1em;
}

.intro p {
    font-size: 2rem;
    line-height: 60px;
    font-weight: 200;
    color: #FFFFFF;
    margin: 0 3em 3em 3em;
    padding-right: 8em;
}

.service {
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: aliceblue;
    border-radius: 10px;
}

.service h3 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
}

.service p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

#servicio1 img {
    width: 40%;
    height: auto;
    border-radius: 10px;
}

#servicio2 img {
    width: 40%;
    height: auto;
    border-radius: 10px;
}

#servicio3 img {
    width: 40%;
    height: auto;
    border-radius: 10px;
}

#servicio4 img {
    width: 40%;
    height: auto;
    border-radius: 10px;
}

#servicio5 img {
    width: 40%;
    height: auto;
    border-radius: 10px;
}

.cta {
    text-align: center;
    margin-top: 2rem;
}

.cta h3 {
    font-size: 1.8rem;
    color: #1E3674;
    margin-bottom: 1rem;
}

.cta p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1rem;
}

.cta-button {
    display: inline-block;
    background-color: #1E3674;
    color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
}

.cta-button:hover {
    background-color: #DC9D1F;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    height: 60%;
}

footer p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

@media (max-width: 768px) {
    #label {
        display: inline-block;
    }

    nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    #menu:checked + label + ul {
        display: flex;
    }

    header .h1 {
        flex-direction: column;
    }

    header .h1 img {
        margin: 0;
        margin-bottom: 1rem;
    }
}

