@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


nav {
    background-color: #873600;
}

.navbar .container .btn-personal {
    background-color: white;
    color: #17202A;
}

.imgPersonal {
    width: 900px;
    height: 500px;
    object-fit: cover;
    margin-top: 165px;
}

.carrusel>.preve,
.sigue {
    color: black;
}

.navbar .container #lits_navegation a {
    font-weight: 600;
    font-size: 20px;
    margin: 0.50em;
    padding-left: 0.25em;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar .container #lits_navegation a:hover {
    border-radius: 5px;
    background-color: #17202A;
    animation: 3ms;
}

.principal {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

.principal .container .row .contenido {
    padding: 1em;
    background-color: aliceblue;
    margin-top: 1em;
}


.iconosRedes i {
    color: aqua;
    font-size: 1.5em;
    margin-right: 1em;
    cursor: pointer;
}

.iconosRedes i:hover {
    color: burlywood;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
}